<!DOCTYPE html>
<html lang="de" xmls:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create new RAST</title>

</head>

<body>
    <form action="#" th:action="@{/create/{id}(id=${location.id})}" th:object="${location}" th:method="post">
        <input type="text" th:field="*{ort}" placeholder="Ort">
        <input type="text" th:field="*{pLZ}" placeholder="PLZ">
        <input type="text" th:field="*{strasse}" placeholder="Straße">
        <input type="text" th:field="*{hausnummer}" placeholder="Hausnummer"><br>
        <button type="submit" value="Submit">Save</button>
    </form>
</body>

<!-- links müssen aktualisiert werden -->
<div><a href="/">Show all RAST</a></div>


</html>