<!DOCTYPE html>
<head>
<title>RAST</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h1>alle RAST</h1>



<table>
    <thead>
        <tr>
            <th>Ort</th>
            <th>PLZ</th>
            <th>Straße</th>
            <th>Hausnummer</th>
        </tr>
    </thead>
<tbody>
    <tr th:each="location : ${locations}">
        <td th:text="${location.ort}">Ort</td>
        <td th:text="${location.pLZ}">PLZ</td>
        <td th:text="${location.strasse}">Straße</td>
        <td th:text="${location.hausnummer}">Hausnummer</td>
        <td><a th:href="@{/updateform/(id=${location.id})}">Update</a></td>
        <td><a th:href="@{/delete/(id=${location.id})}">Delete</a> </td>


    </tr>
</tbody>
</table>

<!-- muss noch aktualisiert werden (location)auf die richtigen Links -->
<div><a href="/create">create a new RAST</a></div>


</body>
</html>