<!DOCTYPE html>
<html lang="de" xmls:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Find a RAST</title>

</head>

<body>

    <!-- template geht nicht -->
    <form action="#" th:action="@{/location/{id}(id=${location.id})}" th:object ="location" th:method="get">
    <input type="text" th:field=${location.id}>
    <button type="submit" >search</button>
    
    </form>

    <thead>
        <table>
            <tr>
                <th>Ort</th>
                <th>PLZ</th>
                <th>Straße</th>
                <th>Hausnummer</th>

            </tr>
    </thead>

    <tbody>
            <tr th:each="location : ${locations}">
                
                <td th:text="${location.ort}">Ort</td>
                <td th:text="${location.pLZ}">PLZ</td>
                <td th:text="${location.strasse}">Straße</td>
                <td th:text="${location.hausnummer}">Hausnummer</td>

            </tr>

    </tbody>

    </table>





<div><a href="/">Show all RAST</a></div>

</body>
</html>