<!DOCTYPE html>
<html lang="de" xmls:th="http://thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <title>Update a RAST</title>

</head>

<body>

    <h1></h1>

    <form action="update" th:action="@{/update/{id}(id=${location.id})}" th:object="${location}" th:method="put">
        <input type="text" th:field="${location.ort}">
        <input type="text" th:field="${location.pLZ}">
        <input type="text" th:field="${location.strasse}">
        <input type="text" th:field="${location.hausnummer}">
       
        <button type="submit" >Update</button>
    </form>
</body>

</html>